@model Nate_TipCalculator.Models.Tip
@{
    ViewBag.Title = "Calculate Tip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CalculateTip", "Form", FormMethod.Post))
{
            <h2>Enter your tip information:</h2>
            <div class="form-group">
                @Html.LabelFor(m => m.MealType)
                @Html.TextBoxFor(m => m.MealType, new { @class = "form-control", placeholder = "Meal Type" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MealCost)
                @Html.TextBoxFor(m => m.MealCost, new { @class = "form-control", placeholder = "Meal Cost" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TipPercentage)
                @Html.TextBoxFor(m => m.TipPercentage, new { @class = "form-control", placeholder = "Tip Percentage" })
            </div>
            <button type="submit" class="btn btn-primary">Get Your Tip Total</button>


}

