@model Exercises.Models.Data.State
@{
    ViewBag.Title = "EditState";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit State</h3>
        @Html.ActionLink("Return to List", "GetStates", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.StateAbbreviation)

            if (ViewData.ModelState.IsValid)
            {
                <div name="opening" class="alert alert-info">Edit the State:</div>
            }
            else
            {
                @Html.ValidationSummary();
            }

            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State" })
                <span class="text-danger">@Html.ValidationMessageFor(m => m.StateName)</span>
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>
